$focuspoint-cursor: pointer !default;
$focuspoint-transition: all .2s ease-in-out !default;
$focuspoint-padding: 10px !default;
$focuspoint-radius: 5px !default;
$focuspoint-background: rgba(255, 0, 0, .6) !default;
$focuspoint-shadow: inset 0 0 3px rgba(0, 0, 0, .5) !default;
$focuspoint-border: 1px solid #fff !default;
