@import "focus-point-variables";

.focus-point {
  cursor: $focuspoint-cursor;

  &-pin {
    transition: $focuspoint-transition;
    padding: $focuspoint-padding;
    border-radius: $focuspoint-radius;
    background: $focuspoint-background;
    box-shadow:$focuspoint-shadow;
    border: $focuspoint-border;
  }
}
