$body: 20px;

.focus-point {
  position: relative;
  cursor: crosshair;

  &-focus {
    position: absolute;
    pointer-events: none;
    width: $body;
    height: $body;
    margin: -($body / 2);
    transition: all .2s ease-in-out;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px #fff;
  }
}
