.focus-point {
  cursor: crosshair;

  &-pin {
    transition: all .2s ease-in-out;
    padding: 10px;
    border-radius: 100%;
    background: rgba(255, 0, 0, 0.60);
    border: 1px solid #fff;
  }
}
