.focus-point {
  position: relative;
  cursor: crosshair;

  > * {
    pointer-events: none;
  }

  &-pin {
    transition: all .2s ease-in-out;
    position: absolute;
    padding: 10px;
    border-radius: 3px;
    background: rgba(255, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
}
